.advantages {
	min-height: 690px;
	padding: 70px 0;
	background: url('../img/advantage.jpg') center (center/cover) no-repeat;

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: max-content max-content;
	}

	&__item {
    text-align: center;
    
    &:last-child {
      margin-right: 0;
      margin-top: 100px;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    
    span {
      display: block;
      width: 100%;
      position: relative;
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 60px;
        height: 10px;
        left: 50%;
        bottom: -16px;
        background: #FFFF00;
        border-radius: 50px;
        transform: translateX(-50%);
      }
    }
	}

  &__descr {
    margin-top: 66px;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
  }
  
  @media (max-width: 575px) {
    &__list {
      display: block;
    }
    
    &__item {
      span {
        font-size: 28px;
        line-height: 34px;
      }
    }
    
    &__descr {
      font-size: 18px;
      line-height: 22px;
    }
  }
}