.application {
  padding: 100px 0;
  text-align: center;
  background: url('../img/promo_bg.jpg') center (center/cover) no-repeat;

  &__descr {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: $text-color;
  }
  
  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  
  &__card {
    width: 270px;
    min-height: 500px;
    padding-bottom: 16px;
    text-align: center;
    background-color: $bg-color-black;
    border-radius: 10px;
    
    &-img {
      width: 270px;
      height: 200px;
    }
    
    &-title {
      margin-top: 33px;
      position: relative;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      &:after {
        content: '';
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 108px;
        height: 2px;
        background-color: $elem-color;
      }
    }
    
    &-descr {
        margin-top: 42px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
  }

  @media (max-width: 1200px) {
    &__cards {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: min-content min-content;
      justify-content: space-around;
    }

    &__card {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 575px) {
    padding: 40px 0;

    &__descr {
      font-size: 26px;
      line-height: 39px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
    }

    &__card {
      width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        margin-top: 26px;
        font-size: 20px;
      }

      &-descr {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 280px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}