.graph {
  width: 200px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  &__list {
    margin: 0 auto;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    width: 160px
  }
  &__day {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }
  &__hours {
    display: block;
    margin-top: 6px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    display: none;
  }

  @media (max-width: 768px) {
    display: none;
  }
}