.menu {
  background-color: $bg-color-black;

  &__list {
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 38px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    padding: 4px 10px;
    border: 1px solid $text-color;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 575px) {
    background-color: #050505;
    display: none;
  }
}