.menu {
  background-color: $bg-color-black;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    border: 1px solid $text-color;
    border-radius: 10px;
  }
}