.stages {
  padding: 40px 0;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      width: 100px;
      height: 100px;
    }

    &-block {
      width: 360px;
      margin-left: 50px;
      text-align: left;
    }

    &-title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      text-transform: uppercase;
    }

    &-descr {
      margin-top: 10px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  @media (max-width: 1200px) {
    &__block {
      display: block;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__item {
      margin-top: 50px;
    }

    &__img {
      display: none;
    }
  }

  @media (max-width: 575px) {
    &__title {
      font-size: 26px;
      line-height: 32px;
    }
    
    &__block {
      display: block;
    }
    
    &__list {
      display: block;
    }
    
    &__item {
      display: block;
      
      &-block {
      width: auto;
      margin: 0;
      text-align: center;
      }
      
      &-title {
        font-size: 26px;
        line-height: 32px;
        margin-top: 20px;
      }
    }
  }
}