.gallery {
	margin-top: 150px;
	padding: 60px 0;
	&__list {
		display: block;
		width: 1200px;
		margin: 0 auto;
	}

	&__item {
		display: block;
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			min-width: 100%;
			height: auto;
		}
	}

	@media (max-width: 1200px) {
		
		&__list {
			width: 960px;
		}
	}

	@media (max-width: 992px) {
		&__list {
			width: 769px;
		}
	}

	@media (max-width: 768px) {
		margin-top: 70px;
		&__list {
			width: 576px;
		}
	}

	@media (max-width: 575px) {
		margin-top: 66px;
		&__list {
			width: 320px;
		}
	}
}